
.container{
    display: flex;
    flex-wrap: wrap; 
    margin-top: 50px;
    gap: 30px;
}
.link{
    display: flex;
    justify-content: center;
    width: 100%;
    height:300px;
    border: 1.5px solid #c0bdbd;
    border-radius: 5px;
    align-items: center;

}
.image:hover{
    scale: 1.1;
    transition:0.5s;
}
.price{
    display: flex;
    height: 200px;
    align-items: center;
  
    justify-content: center;
    
}
.image{

    position: relative;
    width: 100%;
    height: 80%;



    
}
.head{
  text-align:center;
}
@media (min-width: 440px) {
    .link{
      width: 40%;
    }
  } 
  @media screen and (min-width: 768px) {
    .link{
      width: 30%;
    }
  } 